{% extends 'base.html' %}

{% block title%}
<h3>Reservation History</h3>
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="reservation-page">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">Reservation Date</th>
                  <th scope="col">Property</th>
                  <th scope="col">From</th>
                  <th scope="col">Till</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservation_list %}
                    {% if reservation.user.id == user.id %}
                    <tr>
                        <td>{{reservation.date}}</td>
                        <td><a  class="text-decoration-none" href="{% url 'property_detail' reservation.property.id %}">{{reservation.property.title}}</a></td>
                        <td>{{reservation.availability.from_date}}</td>
                        <td>{{reservation.availability.till_date}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}