{% extends 'base.html' %}

{% block title%}
    <li class="nav-item">Create Account</li>
{% endblock %}

{% block content %}

    <div>
        <h3>Signup as a Host</h3>
        <form action="{% url 'signup_host' %}" method="post">
            <button type="submit">Host</button>
        </form>
        
    </div>

    <div>
        <h3>Signup as a Renter</h3>
        <form action="{% url 'signup_renter' %}" method="post">
            <button type="submit">Renter</button>
        </form>
    </div>

{% endblock %}