{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="registration">
    <div>
        <img src="{% static 'images/registration.jpeg' %}">
    </div>
    <div class="card m-3 p-3 border-light">
        <h3 class="text-center mb-5">Login</h3>
        <div class="text-center p-4">
            <form method="post" action="{% url 'login' %}" class="">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="login">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    </div>
</div>


{% endblock %}