{% extends 'base.html' %}

{% block title%}
    <h3>Create Account</h3>
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="p-5 border-light container justify-content-center">
        <div class=" w-50 card row justify-content-center mx-auto">
            <div class="col bg-light">
                <h3 class="text-center mt-2">Sign Up</h3>
                <br>
                <div class="p-3 text-center">
                    {% if error_message %}
                    <p class="text-danger">{{ error_message }}</p>
                    {% endif %}
                    <div class="form-group text-truncate">
                        <form method="post" action="{% url 'signup' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" class="btn btn-primary " value="Create Account">
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

    

{% endblock %}