{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="registration">
            <div>
                <img src="{% static 'images/registration.jpeg' %}">
            </div>
                <div class="card m-3 p-3 border-light">
                    <h3 class="text-center p-3">Sign Up</h3>
                    {% if error_message %}
                    <p class="text-danger">{{ error_message }}</p>
                    {% endif %}
                    <form method="post" action="{% url 'signup' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-primary mt-2" value="Create Account">
                    </form>
                </div>
</div>

    

{% endblock %}