body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }
  
  
.property-img{
  max-width: 400px;
}

.profile-img{
  /* max-width: 200px; */
  max-height: 200px;
  border-radius: 50%;
  /* border: solid 2px gray; */
}

.small-profile-pic{
  max-height: 25px;
  border-radius: 50%;
  border: solid 2px gray;
}