* {
  margin:0;
  padding:0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
  }
  
  main {
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  .registration {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .registration img{
    height: 88vh;
    width: 70vw;
    display: blcok;
    object-fit: cover;
    border-radius: 15px;
  }

  .registration .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
 input {
    border-bottom: 1px solid lightgrey;
  }
  

  .add__property {
    margin: auto;
    width: 66vw;
    padding: 2rem;
  }

  .add__property h3 {
    margin-bottom: 1rem;
  }

  .add__property form {
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
  }

  
  

.index-content{
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.reservation-page{
  margin: 5px auto;
}

.navbar-head {
  font-weight:900;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.profile-img{
  /* max-width: 200px; */
  max-height: 200px;
  border-radius: 50%;
  /* border: solid 2px gray; */
}

.small-profile-pic{
  max-height: 25px;
  border-radius: 50%;
  border: solid 2px gray;
}

.photo{
  position: relative;
  margin-left: 25px;
}

.text-center {
  text-align: center;
  margin-bottom: 0px;
}

.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-photo{
  position: absolute;
  top: 0px;
  right: 0px;
}

.index-photo-card{
  background-color: rgba(169,169,169, 0.1);
  height: 250px;
  width: 300px;
  box-shadow: 2px 2px 3px gray;
}

.index-photo{
  height: 250px;
  width: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.index-card-text{
  padding: 1px;
  width: 250px;
  text-align: center;
  margin: 0 auto;
  word-wrap: break-word;
}

.profile-property-card{
  background-color: rgba(169,169,169, 0.1);
  height: 150px;
  width: 200px;
  box-shadow: 2px 2px 3px gray;
  margin: 0 auto;
}

.profile-property-photo{
  height: 150px;
  width: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.profile-card-text{
  padding: 1px;
  width: 150px;
  text-align: center;
  margin: 0 auto;
  word-wrap: break-word;
}

.profile-property-div{
  height: 350px;
  width: 300px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 50px;
  width: 50px;
  /* outline: rgba(0, 0, 0, 0.4); */
  background-color: rgba(0, 0, 0, 0.3);
  /* background-size: 100%, 100%; */
  /* border-radius: 50%; */
  /* border: 1px solid black; */
}

.scroll{
  max-height: 500px;
  overflow-y: auto;
}


.fix-header{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
