{% extends 'base.html' %}


{% block content %}
<div class="card add__property">
            <div class="">
                {% if object %}
                <h3 class="text-center mt-2">Edit <span class="">{{object.title}}</span></h3>
                {% else %}
                <h3 class="text-center mt-2">Add Property</h3>
                {% endif %}
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if object %}
                    <input type="submit" class="btn btn-primary mt-3" value="Submit">
                    {% else %}
                    <input type="submit" class="btn btn-primary mt-3" value="Create Listing">
                    {% endif %}
                </form>
            </div>
</div>



    

{% endblock %}