{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="main-content">
    <div class="m-4 d-flex flex-row justify-content-between">
        <div>
            <h3>{{property.title}}</h3>
        </div>
        <!-- like or unlike -->
        <div class="p3">
            {% if not user_like %}
            <form id="like-post" action="{% url 'add_like' property.id %}" method="post">
                {% csrf_token %}
                {{like_form.as_p}}
                <button id="like-post-btn" type="submit" class="btn btn-small btn-light" >Like <img src="{% static 'images/heart.svg' %}"></button>
            </form>
            {% elif user_like %}
            <form id="unlike-post" action="{% url 'remove_like' property.id %}" method="post">
                {% csrf_token %}
                {{like_form.as_p}}
                <button id="unlike-post-btn" type="submit" class="btn btn-small btn-light">Liked <img src="{% static 'images/heart-fill.svg' %}"></button>
            </form>
            {% endif %}
        </div>
    </div>
    {% if property.photo_set.all %}
    <div id="carousel" class="card carousel slide w-100 mx-auto bg-light" data-ride="carousel">
        <div class="carousel-inner mx-auto">
            {% for photo in property.photo_set.all %}
            {% with forloop.counter0 as i %}
                <div class="carousel-item {% if i is 0 %}active{% endif %}">
                    <img class="d-block mx-auto" src="{{photo.photo_url}}" height="600">
                </div>
            {% endwith %}
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon text-dark" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#" role="button" data-slide="next">
            <span class="carousel-control-next-icon text-dark" aria-hidden="true"></span>
        </a>
    </div>
    {% else %}
    <div><h4>No Photos Uploaded</h4></div>
    {% endif %}
    {% if property.user == request.user %}
    <div class="col p-3">
        <div class="mt-3">
            <form id="image-upload" action="{% url 'add_photo' property.id %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <input id="photo" type="file" name="photo-file">
                <br><br>
                <input type="submit" class="btn btn-sm btn-primary image-upload-btn" value="Add Photo">
            </form>
            <p class="image-upload-output"></p>
        </div>
        <div class="mt-2 pt-1">
            <a class="text-decoration-none" href="{% url 'delete_photo_page' property.id %}"><button class="btn btn-sm btn-secondary">Edit Photos</button></a>
        </div>
    </div>
    {% endif %}
    <div class="p-3">
        <div class="row border border-light shadow-sm p-2">
            <div>
                <div><h5> Description: </h5><p class="ml-2">{{property.description}}</p></div>
                <p><strong>Location: </strong>{{property.location}}</p>
                <p><strong>Price: </strong>{{property.price|floatformat:2}} CAD per night</p>
            </div>
            <a class="text-decoration-none" href="{% url 'host_profile_view' property.id %}"><img class="small-profile-pic" src="{{property.user.profilepicture_set.first.url}}"> {{property.user.username}}</a>
            <span>Posted on {{property.date_listed}}.</span>
            {% if property.user == request.user %}
            <div class="">
                <a class="text-decoration-none" href="{% url 'property_update' property.id %}"><button class="btn btn-primary">Edit Property</button></a>
                <a class="text-decoration-none" href="{% url 'property_delete' property.id %}"><button class="btn btn-danger">Delete Property</button></a>
            </div>
            {% endif %}
        </div>
        <br>
        <div class="row">
            <div class="border border-light shadow-sm p-5 col">
                <h4  class="text-center">Features</h4>
                <br>
                <table class="">
                    {% for property_feature in property.property_features.all %}
                        <tr>
                            <td>
                                {{property_feature.feature}}
                            </td>
                            {% if property.user == request.user %}
                                <td class="">
                                    <form id="remove-feature-{{property_feature.id}}" action="{% url 'dissociate_property_feature' property.id property_feature.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-danger remove-feature-{{property_feature.id}}-btn">X</button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% empty %}
                        <div>No features listed on this property</div>
                    {% endfor %}
                </table>
            </div>
            <div class="col border border-light shadow-sm p-5">
                <h4 class="text-center">Availability</h4>
                <br>
                {% for availability in property.availability_set.all %}
                <div class="card border-light">
                    <p>From <strong>{{availability.from_date}}</strong> to <strong>{{availability.till_date}}</strong></p>
                    {% if property.user == request.user %}
                        {% if availability.id in not_available %}
                        <button disabled class="btn btn-sm btn-secondary">Reserved</button>
                        {% endif %}
                        <a href="{% url 'update_availability' property.id availability.id %}"><button class="btn btn-sm btn-primary">Update Availability</button></a>
                        <form id="delete-availability-{{availability.id}}" action="{% url 'delete_availability' property.id availability.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-danger delete-availability-{{availability.id}}-btn">Delete Availability</button>
                        </form>
                        <p class="delete-availability-{{availability.id}}-output-message text-success"></p>
                    {% endif %}
                    {% if property.user != request.user %}
                        {% if availability.id not in not_available %}
                        <form action="{% url 'make_reservation' property.id availability.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-primary">Reserve</button>
                        </form>
                        {% else %}
                        <button disabled class="btn btn-sm btn-secondary reservation-{{availability.id}}">Reserved</button>
                            {% if request.user.id in reservation_user %}
                            <form id="delete-reservation-{{availability.id}}" action="{% url 'cancel_reservation' property.id availability.id %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-danger delete-reservation-{{availability.id}}-btn" type="submit">Cancel Reservation</button>
                            </form>
                            <p class="delete-reservation-{{availability.id}}-output-message text-success"></p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
                <br>
                <br>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="p-3 row">
        <div class="p-3 col">
            {% if property.user == request.user %}
                <h4>Add Features</h4>
                <table>
                    {% for property_feature in features_property_doesnt_have.all %}
                        <tr>
                            <td>
                                {{property_feature.feature}}
                            </td>
                            <td class="">
                                <form id="add-feature-{{property_feature.id}}" action="{% url 'associate_property_feature' property.id property_feature.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-secondary add-feature-{{property_feature.id}}-btn">Add</button>
                                </form>
                            </td>
                        </tr>
                    {% empty %}
                        <div>All available features are listed on this property</div>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        <div class="p-3 col">
            {% if property.user == request.user %}
            <div>
                <h4>Add Availability</h4>
                <form id="add-availability" action="{% url 'add_availability' property.id %}" method="post">
                    {% csrf_token %}
                    <table>{{availability_form.as_table}}</table>
                    <br>
                    <input id="add-availability-btn" type="submit" class="btn btn-sm btn-secondary" value="Add">
                </form>
                <p class="add-availability-output-message text-success"></p>
            </div>
            {% endif %}
        </div>
    </div>    
    <br>
    <br>
    
    <!-- Property Review Form -->
    <div class="p-5 border-light container justify-content-center">
        <div class=" w-70 card row justify-content-center mx-auto">
            <div class="col bg-light">
                <h4 class="text-center mt-2">Review Property</h4>
                <br>
                <div class="p-3 text-center">
                    <form id="add-review" class="row g-1" action="{% url 'review_property' property.id %}" method="post">
                        {% csrf_token %}
                        {{ property_review_form.as_p }}
                        <input type="submit" class="btn btn-primary add-review-btn" value="Add Review">
                    </form>
                    <p class="add-review-output-message"></p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="card col customer-reviews p-5">
        <h4 class="text-center">Customer Reviews</h4>
        <br>
        {% for review in property.review_set.all %}
            <div class="border border-secondary p-2 mb-2 review">
                <h6 class="bottom-border border-secondary">{{review.user_name}}</h6>
                <hr>
                <p><strong>Rating: </strong>{{review.get_rating_display}}</p>
                <div><strong>Review: </strong><p>{{review.review_text}}</p></div>
                <p><small>Posted on {{review.date}}</small></p>
            </div>
            <br>
        {% empty %}
            <div class="card-panel center-align">No Reviews</div>
        {% endfor %}
    </div>
</div>


<script>
$(document).ready(function(){
    // Activate Carousel
    $("#carousel").carousel();

    $(".carousel-control-prev").click(function(){
    $("#carousel").carousel("prev");
    });

    $(".carousel-control-next").click(function(){
    $("#carousel").carousel("next");
  });
});


// Prevent reload after uploading image
if (document.getElementById('image-upload')) {
    document.getElementById('image-upload').addEventListener('submit', function (e) {
        e.preventDefault();
        const imageFormData = new FormData(this);
        imageFormData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        fetch("{% url 'add_photo' property.id %}",{
            method: 'POST',
            body: imageFormData
        })
        .then(data => {
            document.querySelector('.image-upload-btn').value = "Photo Uploaded"
            document.querySelector('.image-upload-btn').classList.remove('btn-primary')
            document.querySelector('.image-upload-btn').classList.add('btn-success')
            document.querySelector('.image-upload-output').innerHTML = "Upload another photo or Reload to view updates."
            setTimeout(function(){ 
                document.querySelector('.image-upload-btn').value = "Add Photo"
                document.querySelector('.image-upload-btn').classList.remove('btn-success')
                document.querySelector('.image-upload-btn').classList.add('btn-primary')
                document.querySelector('.image-upload-output').style.display = "none";
            }, 3000);
            setTimeout(function(){ 
                document.querySelector('.image-upload-output').style.display = "";
            }, 1000);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    })
}


const likePost = document.getElementById('like-post')
const unlikePost = document.getElementById('unlike-post')
if (likePost) {
    // Prevent reload after liking post
    likePost.addEventListener('submit', function (e) {
        e.preventDefault();
        const formData = new FormData();
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        console.log('formdata: ', formData)
        fetch("{% url 'add_like' property.id %}",{
            method: 'POST',
            body: formData
        })
        .then(data => {
            console.log('Success:', data);
            document.querySelector('#like-post-btn').innerHTML = "Liked <img src='{% static 'images/heart-fill.svg' %}'>"
        })
        .catch(error => {
            console.error('Error:', error);
        });
    })
} else if (unlikePost){
    // Prevent reload after unliking post
    unlikePost.addEventListener('submit', function (e) {
        e.preventDefault();
        const formData = new FormData();
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        console.log('formdata: ', formData)
        fetch("{% url 'remove_like' property.id %}",{
            method: 'post',
            body: formData
        })
        .then(data => {
            console.log('Success:', data);
            document.querySelector('#unlike-post-btn').innerHTML = "Like <img src='{% static 'images/heart.svg' %}'>"
        })
        .catch(error => {
            console.error('Error:', error);
        });
    })
}


// Prevent reload after adding availability
if (document.getElementById('add-availability')) {
    const addAvailability = document.getElementById('add-availability')
    // const deleteAvailability = document.getElementById('delete-availability')
    let addAvailabilityOutputMessage = document.querySelector('.add-availability-output-message')
    // let deleteAvailabilityOutputMessage = document.querySelector('.delete-availability-output-message')
    addAvailability.addEventListener('submit', function (e) {
        e.preventDefault();
        const availabilityformData = new FormData();
        availabilityformData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        availabilityformData.append('from_date', document.getElementById("id_from_date").value)
        availabilityformData.append('till_date', document.getElementById("id_till_date").value)
        fetch("{% url 'add_availability' property.id %}",{
            method: 'POST',
            body: availabilityformData
        })
        .then(data => {
            document.querySelector('#add-availability-btn').classList.remove('btn-secondary')
            document.querySelector('#add-availability-btn').classList.add('btn-success')
            addAvailabilityOutputMessage.innerHTML = "Availability added! Add another, or reload to view updates."
            setTimeout(function(){ 
                addAvailabilityOutputMessage.style.display = "none";
                document.querySelector('#add-availability-btn').classList.remove('btn-success')
                document.querySelector('#add-availability-btn').classList.add('btn-primary')
            }, 4000);
            setTimeout(function(){ 
                addAvailabilityOutputMessage.style.display = "";
            }, 1000);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    })
}


// Prevent reload after removing availability
'{% for availability in property.availability_set.all %}'
if (document.querySelector('#delete-availability-{{availability.id}}')) {
    document.querySelector('#delete-availability-{{availability.id}}').addEventListener('submit', function (e) {
        e.preventDefault();
        const removeAvailabilityFormData = new FormData();
        removeAvailabilityFormData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        fetch("{% url 'delete_availability' property.id availability.id %}",{
            method: 'POST',
            body: removeAvailabilityFormData
        })
        .then(data => {
            document.querySelector('.delete-availability-{{availability.id}}-output-message').innerHTML = 'Availability deleted! Reload page to view update.'
            document.querySelector('.delete-availability-{{availability.id}}-btn').innerHTML = "Deleted!"
            document.querySelector('.delete-availability-{{availability.id}}-btn').classList.remove('btn-danger')
            document.querySelector('.delete-availability-{{availability.id}}-btn').classList.add('btn-secondary')
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }) 
}
'{% endfor %}'


// Prevent reload after adding review
const addReview = document.getElementById('add-review')
let addReviewOutputMessage = document.querySelector('.add-review-output-message')
let addReviewBtn = document.querySelector('.add-review-btn')
addReview.addEventListener('submit', function (e) {
    e.preventDefault();
    const reviewformData = new FormData();
    reviewformData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    reviewformData.append('rating', document.getElementById("id_rating").value)
    reviewformData.append('review_text', document.getElementById("id_review_text").value)
    fetch("{% url 'review_property' property.id %}",{
        method: 'POST',
        body: reviewformData
    })
    .then(data => {
        addReviewBtn.classList.remove('btn-primary')
        addReviewBtn.classList.add('btn-success')
        addReviewOutputMessage.innerHTML = "Review added! Add another, or reload to view updates."
        document.getElementById("id_rating").value = ''
        document.getElementById("id_review_text").value = ''
        setTimeout(function(){ 
            addReviewOutputMessage.style.display = "none";
            addReviewBtn.classList.remove('btn-success')
            addReviewBtn.classList.add('btn-primary')
        }, 4000);
        setTimeout(function(){ 
            addReviewOutputMessage.style.display = "";
        }, 1000);
    })
    .catch(error => {
        console.error('Error:', error);
    });
})


// Prevent reload after adding property feature
'{% for feature_id in features_property_doesnt_have_id %}' 
if (document.querySelector('#add-feature-{{feature_id}}')) {
    document.querySelector('#add-feature-{{feature_id}}').addEventListener('submit', function (e) {
        e.preventDefault();
        const addFeatureFormData = new FormData();
        addFeatureFormData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        fetch("{% url 'associate_property_feature' property.id feature_id %}",{
            method: 'POST',
            body: addFeatureFormData
        })
        .then(data => {
            document.querySelector('.add-feature-{{feature_id}}-btn').innerHTML = "Added"
            document.querySelector('.add-feature-{{feature_id}}-btn').classList.remove('btn-secondary')
            document.querySelector('.add-feature-{{feature_id}}-btn').classList.add('btn-success')
        })
        .catch(error => {
            console.error('Error:', error);
        });
    })
}
'{% endfor %}'


// Prevent reload after removing property feature
'{% for feature in property.property_features.all %}'
if (document.querySelector('#remove-feature-{{feature.id}}')) {
    document.querySelector('#remove-feature-{{feature.id}}').addEventListener('submit', function (e) {
        e.preventDefault();
        const removeFeatureFormData = new FormData();
        removeFeatureFormData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        fetch("{% url 'dissociate_property_feature' property.id feature.id %}",{
            method: 'POST',
            body: removeFeatureFormData
        })
        .then(data => {
            document.querySelector('.remove-feature-{{feature.id}}-btn').innerHTML = "Deleted"
            document.querySelector('.remove-feature-{{feature.id}}-btn').classList.remove('btn-danger')
            document.querySelector('.remove-feature-{{feature.id}}-btn').classList.add('btn-secondary')
        })
        .catch(error => {
            console.error('Error:', error);
        });
    })
}
'{% endfor %}'


// Prevent reload after cancelling reservation
'{% for availability in property.availability_set.all %}'
if (document.querySelector('#delete-reservation-{{availability.id}}')) {
    document.querySelector('#delete-reservation-{{availability.id}}').addEventListener('submit', function (e) {
        e.preventDefault();
        const removeReservationFormData = new FormData();
        removeReservationFormData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        fetch("{% url 'cancel_reservation' property.id availability.id %}",{
            method: 'POST',
            body: removeReservationFormData
        })
        .then(data => {
            document.querySelector('.delete-reservation-{{availability.id}}-btn').innerHTML = "Cancelled!"
            document.querySelector('.delete-reservation-{{availability.id}}-btn').classList.remove('btn-danger')
            document.querySelector('.delete-reservation-{{availability.id}}-btn').classList.add('btn-secondary')
            document.querySelector('.reservation-{{availability.id}}').classList.remove('btn-secondary')
            document.querySelector('.reservation-{{availability.id}}').classList.add('btn-danger')
            document.querySelector('.reservation-{{availability.id}}').innerHTML = 'Reservation Cancelled'
        })
        .catch(error => {
            console.error('Error:', error);
        });
    })
}
'{% endfor %}'
</script>
{% endblock %}