{% extends 'base.html' %}

{% block content %}
<div class="index-content">
    <div class="m-5 d-flex flex-row flex-wrap justify-content-between align-items-start">
        {% for property in property_list %}
        <a class="text-decoration-none m-4" href="{% url 'property_detail' property.id %}">
            <div class="card flex-container index-photo-card" >
                {% if property.photo_set.first %}
                <div class="text-center">
                    <img class="index-photo" src="{{property.photo_set.first.photo_url}}" alt="No image">
                </div>
                {% else %}
                <div class="text-center text-dark">
                    <p>No Image</p>
                </div>
                {% endif %}
            </div>
                <div class="index-card-text">
                    <p class="text-center text-dark"><strong>{{property.title}}</strong></p>
                    <p class="text-center text-dark">{{property.location}}</p>
                    <p class="text-center text-dark">{{property.price|floatformat:2}} CAD per night</p>
                </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}